## Dealing with missing values
1. <font color='aqua purple'>__Data Understanding and Visulization :__</font> heatmaps and bar charts can provide insights into the distribution of missing values across variables. This aids in prioritizing which variables require attention.
2. <font color='aqua purple'>__Deletion – A Double-Edged Sword:__</font> deletion – removing rows or columns with missing data. if missing data is minimal then we can consider it
3. <font color='aqua purple'>__Imputation -Filling Gaps :__</font> estimating missing values based on existing data.Mean Median ,Mode imputation methods like regression imputation used
4. <font color='aqua purple'>__Advance Imputation :__</font>k-nearest neighbours,forward imputation and backword imputation
5. <font color='aqua purple'>__Imputation  :__</font> create predictive model to estimate missing values
6. <font color='aqua purple'>__Treating Categorical Variables__</font>

In [93]:
import pandas as pd
import numpy as np

In [94]:
df =pd.read_csv('AB_NYC_2019.csv')
df.head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,19-10-2018,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,21-05-2019,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,05-07-2019,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,19-11-2018,0.10,1,0

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48906 entries, 0 to 48905
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48906 non-null  int64
 1   name                            48890 non-null  object
 2   host_id                         48906 non-null  int64
 3   host_name                       48885 non-null  object
 4   neighbourhood_group             48906 non-null  object
 5   neighbourhood                   48906 non-null  object
 6   latitude                        48906 non-null  float64
 7   longitude                       48906 non-null  float64
 8   room_type                       48906 non-null  object
 9   price                           48906 non-null  int64
 10  minimum_nights                  48906 non-null  int64
 11  number_of_reviews               48906 non-null  int64
 12  last_review                     38854 non-null  object
 13  reviews_per_month               38854 non-null  float64
 14  calculated_host_listings_count  48906 non-null  int64
 15  availability_365                48906 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

# Dealing with Null Values

## Method 1. Removing rows containing null values

In [54]:
# finding null values
df.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [55]:
df1= df.dropna()

In [56]:
df1.isna().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [8]:
df1.shape

(38832, 16)

In [9]:
# Q Find the number of rows has been removed 
df1_shape=np.array(df1.shape)
df_shape=np.array(df.shape)
df_shape-df1_shape

array([10074,     0])

## Method 2 Removing the column containing the null values

In [10]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [11]:
# remoning the last_review column
df2= df.drop("last_review" , axis=1)

In [12]:
df2.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [13]:
df2.shape

(48906, 15)

## Method 3 Filling the missing values Imputation

## 3.1 Numerical Data

In [14]:
df3=df.copy()

In [15]:
df3.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,19-10-2018,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,21-05-2019,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,05-07-2019,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,19-11-2018,0.10,1,0

In [16]:
df3.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [17]:
# finding the mean of the column containing the null values . valid only for col containg the numeric values

mean= df3['reviews_per_month'].mean()
print(mean)

1.3731512842950533

In [18]:
df3['reviews_per_month'].describe()

count    38854.000000
mean         1.373151
std          1.680270
min          0.010000
25%          0.190000
50%          0.720000
75%          2.020000
max         58.500000
Name: reviews_per_month, dtype: float64

In [19]:

df3['reviews_per_month'].fillna(mean)

0        0.210000
1        0.380000
2        1.373151
3        4.640000
4        0.100000
           ...
48901    1.500000
48902    1.340000
48903    0.910000
48904    0.220000
48905    1.200000
Name: reviews_per_month, Length: 48906, dtype: float64

In [20]:
df3.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

## 3.2 Categorical Data

## 3.2.1 Using Mode Value

In [21]:
df3.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [22]:

# Example Series
data = pd.Series(['apple', 'orange', 'apple', 'banana', 'orange', 'apple'])

# Get counts of unique values
counts = data.value_counts()

print(counts)
print(data.mode())

apple     3
orange    2
banana    1
Name: count, dtype: int64
0    apple
dtype: object

In [23]:
df3.head(2)
df3['last_review'].value_counts().iloc[0:1]

last_review
23-06-2019    1414
Name: count, dtype: int64

In [24]:
df3['last_review'].mode()[0]

'23-06-2019'

In [25]:
# It does not work because mode function return series of mode 
df3['last_review'].fillna(df3['last_review'].mode(),inplace=True)
df3
df3.isnull().sum()

/tmp/ipykernel_9399/313424192.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df3['last_review'].fillna(df3['last_review'].mode(),inplace=True)

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [26]:
df3['last_review'].fillna(df3['last_review'].mode()[0],inplace=True)
print(df3.head(5))
df3.isnull().sum()

     id                                              name  host_id  \
0  2539                Clean & quiet apt home by the park     2787
1  2595                             Skylit Midtown Castle     2845
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3  3831                   Cozy Entire Floor of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192

     host_name neighbourhood_group neighbourhood  latitude  longitude  \
0         John            Brooklyn    Kensington  40.64749  -73.97237
1     Jennifer           Manhattan       Midtown  40.75362  -73.98377
2    Elisabeth           Manhattan        Harlem  40.80902  -73.94190
3  LisaRoxanne            Brooklyn  Clinton Hill  40.68514  -73.95976
4        Laura           Manhattan   East Harlem  40.79851  -73.94399

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room    149               1                  9  19-10-2018
1  Entire home/apt    225               1                 45  21-05-2019
2     Private room    150               3                  0  23-06-2019
3  Entire home/apt     89               1                270  05-07-2019
4  Entire home/apt     80              10                  9  19-11-2018

   reviews_per_month  calculated_host_listings_count  availability_365
0               0.21                               6               365
1               0.38                               2               355
2                NaN                               1               365
3               4.64                               1               194
4               0.10                               1                 0

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                           0
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

## 3.2.2  Categorical data (Use new category)

In [27]:
df5=pd.read_csv('AB_NYC_2019(1).csv')

In [46]:
df5.head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,19-10-2018,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,21-05-2019,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,Not Reviewed,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,05-07-2019,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,19-11-2018,0.10,1,0

In [47]:
df5.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                           0
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [48]:
df5['last_review']

0          19-10-2018
1          21-05-2019
2        Not Reviewed
3          05-07-2019
4          19-11-2018
             ...
48901      23-06-2019
48902      24-06-2019
48903      05-07-2019
48904      31-10-2018
48905      29-06-2019
Name: last_review, Length: 48906, dtype: object

In [49]:
df5['last_review'].fillna('Not Reviewed', inplace =True)

df5.isnull().sum()

In [50]:
df5['reviews_per_month'].fillna('not available')

0                 0.21
1                 0.38
2        not available
3                 4.64
4                  0.1
             ...
48901              1.5
48902             1.34
48903             0.91
48904             0.22
48905              1.2
Name: reviews_per_month, Length: 48906, dtype: object

## 4 Advance Imputation

In [67]:
df4 = df.copy()

In [86]:
df4.isnull().sum()
df5=pd.DataFrame(df4['reviews_per_month'])
df5.head()

   reviews_per_month
0               0.21
1               0.38
2                NaN
3               4.64
4               0.10

In [87]:
from sklearn .impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
result= imputer.fit_transform(df5)
df5['reviews_per_month']=result
df5.head()

   reviews_per_month
0           0.210000
1           0.380000
2           1.373151
3           4.640000
4           0.100000

## 5 Imputation (creating predictive model)

Sample Code for Imputation Using a Decision Tree Regressor

In [91]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split

# Sample data
data = {
    'feature1': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'feature2': [5, np.nan, 7, np.nan, 9, 10, 11, np.nan, 13, 14],
    'feature3': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
}

# Create DataFrame
Df = pd.DataFrame(data)
print("DataFrame before imputation:")
print(Df)
print("-"*70)

# Separate rows with missing values in 'feature2' (target variable)
df_missing = Df[Df['feature2'].isnull()]
df_not_missing = Df.dropna()

# Prepare the data for training
X_train = df_not_missing.drop(columns='feature2')
y_train = df_not_missing['feature2']

# Train a Decision Tree Regressor
model = DecisionTreeRegressor()
model.fit(X_train, y_train)

# Predict missing values
X_missing = df_missing.drop(columns='feature2')
predictions = model.predict(X_missing)

# Fill in the missing values
Df.loc[Df['feature2'].isnull(), 'feature2'] = predictions

print("DataFrame after imputation:")
print(Df)

DataFrame before imputation:
   feature1  feature2  feature3
0         1       5.0        10
1         2       NaN        20
2         3       7.0        30
3         4       NaN        40
4         5       9.0        50
5         6      10.0        60
6         7      11.0        70
7         8       NaN        80
8         9      13.0        90
9        10      14.0       100
----------------------------------------------------------------------
DataFrame after imputation:
   feature1  feature2  feature3
0         1       5.0        10
1         2       5.0        20
2         3       7.0        30
3         4       7.0        40
4         5       9.0        50
5         6      10.0        60
6         7      11.0        70
7         8      11.0        80
8         9      13.0        90
9        10      14.0       100

# Dealing with duplicate Values

In [96]:
df.head(2)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,19-10-2018,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,21-05-2019,0.38,2,355

In [100]:
df6=df.copy()
df6.head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,19-10-2018,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,21-05-2019,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,05-07-2019,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,19-11-2018,0.10,1,0

In [103]:
df6.duplicated().sum()

np.int64(11)

In [112]:
print(df6.duplicated('id').sum())
print(df6.duplicated('name').sum())
print(df6.duplicated('host_id').sum())
print(df6.duplicated('host_name').sum())

11
1009
11449
37453

In [116]:
df6 = df6.drop_duplicates()
df6.duplicated().sum()

np.int64(0)

In [117]:
print(df6.duplicated('id').sum())
print(df6.duplicated('name').sum())
print(df6.duplicated('host_id').sum())
print(df6.duplicated('host_name').sum())

0
998
11438
37442

In [121]:
df6=df6.drop_duplicates('name')
print(df6.duplicated('id').sum())
print(df6.duplicated('name').sum())
print(df6.duplicated('host_id').sum())
print(df6.duplicated('host_name').sum())

0
0
11026
36583