In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [6]:
df= pd.read_csv("scholarship.csv")

In [7]:
df.head(5)

   semester_percentage  scholarship_exam_marks  got_scholarship
0                 71.9                      26                1
1                 74.6                      38                1
2                 75.4                      40                1
3                 64.2                       8                1
4                 72.3                      17                0

In [8]:
df.isnull().sum()

semester_percentage       0
scholarship_exam_marks    0
got_scholarship           0
dtype: int64